################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GraphqlDemo/obj
/.vs/GraphqlDemo/v16/.suo
/GraphqlDemo/bin/Debug/net5.0/runtimes
/GraphqlDemo/bin/Debug/net5.0
