################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GraphQL-Demo/bin/Debug
/GraphQL-Demo/obj
/GraphQL-Demo/.vs/GraphQL-Demo/v16/.suo
/DotnetDemo/.idea/.idea.DotnetDemo/.idea
/DotnetDemo/.vs
/DotnetDemo/.idea/.idea.DotnetDemo
/DotnetDemo/GraphqlDemo/bin/Debug/netcoreapp3.1
/DotnetDemo/GraphqlDemo/obj
